# This is for Mach-V documentation site
mkdocs-material
# mike is for the different versions of the documentation
# mike
mkdocs-git-revision-date-localized-plugin
mkdocs-git-committers-plugin-2
mkdocs-print-site-plugin